#name: WebStore
#
#networks:
#  si:
#
#services:
#  keycloak:
#    container_name: webstore_keycloak
#    image: quay.io/keycloak/keycloak:latest
#    environment:
#      - KEYCLOAK_ADMIN=admin
#      - KEYCLOAK_ADMIN_PASSWORD=admin
#      - KEYCLOAK_IMPORT=/opt/keycloak/data/import/quarkus-realm.json
#    ports:
#      - "8543:8080"
#    volumes:
#      - ./quarkus-realm.json:/opt/keycloak/data/import/quarkus-realm.json
#    command: ["start-dev", "--import-realm"]
#    restart: unless-stopped
#    depends_on:
#      - db
#    networks:
#      si:
#
#  db:
#    container_name: webstore_keycloak_db
#    image: postgres:latest
#    environment:
#      - POSTGRES_USER=admin
#      - POSTGRES_PASSWORD=admin
#      - POSTGRES_DB=auth-db
#    ports:
#      - "5432:5432"
#    networks:
#      si: