  name: WebStore

  networks:
    si:
      driver: bridge

  services:
    keycloak:
      container_name: webstore_keycloak
      image: quay.io/keycloak/keycloak:26.4.4  # Pin version!
      command:
        - start
#        - --optimized
#        - --profile=prod
        - --import-realm
      depends_on:
        keycloak_db:
          condition: service_healthy
      ports:
        - "8544:8080"
      volumes:
        - ./spring-webstore-realm.json:/opt/keycloak/data/import/spring-webstore-realm.json
      environment:
        # === DATABASE ===
        KC_DB: postgres
        KC_DB_URL: jdbc:postgresql://keycloak_db:5432/webstore-auth-db
        KC_DB_USERNAME: KC_DB
        KC_DB_PASSWORD: KC_DB_PASS31212@

        # === ADMIN USER ===
        KC_BOOTSTRAP_ADMIN_USERNAME: admin
        KC_BOOTSTRAP_ADMIN_PASSWORD: admin

        # === REALM IMPORT (correct path) ===
        KC_IMPORT: /opt/keycloak/data/import/spring-webstore-realm.json

        # === HTTP (dev only) ===
        KC_HTTP_ENABLED: "true"
        KC_HOSTNAME: localhost
#        KC_HOSTNAME_URL: http://localhost:8544

        # KC_HOSTNAME_PORT: "8544"
        # === BULGARIAN UI ===
#        KC_LOCALE: bg

      healthcheck:
        test: [ "CMD", "curl", "-f", "http://localhost:8080/health/ready" ]
        interval: 10s
        timeout: 5s
        retries: 5
      restart: unless-stopped
      networks:
        - si

    keycloak_db:
      container_name: webstore_keycloak_db
      image: postgres:latest
      volumes:
        - webstore_keycloak_db_data:/var/lib/postgresql
      environment:
        POSTGRES_DB: webstore-auth-db
        POSTGRES_USER: KC_DB
        POSTGRES_PASSWORD: KC_DB_PASS31212@
      ports:
        - "5433:5432"
      healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U KC_DB -d webstore-auth-db" ]
        interval: 10s
        timeout: 5s
        retries: 5
      restart: unless-stopped
      networks:
        - si

    main-db:
      container_name: webstore_db
      image: postgres:latest
      volumes:
        - webstore_main_db_data:/var/lib/postgresql
      environment:
        POSTGRES_DB: webstore-main-db
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: RadoPostgresql
      ports:
        - "5434:5432"
      healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U postgres -d webstore-main-db" ]
        interval: 10s
        timeout: 5s
        retries: 5
      restart: unless-stopped
      networks:
        - si

    browser-bff:
      container_name: browser_bff
#      image: node:24
      build:
        context: ../../../src/main/nodeJs/browserBFF
        dockerfile: Dockerfile
      working_dir: /app
      volumes:
        - ../../../src/main/nodeJs/browserBFF:/app:cached         # <-- mount local BFF folder
        - browser_bff_node_modules:/app/node_modules    # <-- container keeps node_modules
      ports:
        - "3000:3000"          # <-- BFF port exposed outside
      command: sh -c "npm install && npm run dev"
      environment:
        BACKEND_BASE_URL: http://host.docker.internal:1620
      depends_on:
        main-db:
          condition: service_healthy
      networks:
        - si

  volumes:
    webstore_keycloak_db_data:
    webstore_main_db_data:
    browser_bff_node_modules:


