#name: WebStore
#
#networks:
#  si:
#    driver: bridge
#
#services:
#  keycloak:
#    container_name: webstore_keycloak
#    image: quay.io/keycloak/keycloak:latest
#    environment:
#      - KEYCLOAK_ADMIN=admin
#      - KEYCLOAK_ADMIN_PASSWORD=admin
#      - KEYCLOAK_IMPORT=/opt/keycloak/data/import/spring-realm.json
#    ports:
#      - "8544:8080"
#    volumes:
#      - ./spring-realm.json:/opt/keycloak/data/import/spring-realm.json
#    command: ["start-dev", "--import-realm"]
##    restart: unless-stopped
#    restart: on-failure:3
#    depends_on:
#      - keycloak_db
#    networks:
#      si:
#
#  keycloak_db:
#    container_name: webstore_keycloak_db
#    image: postgres:latest
#    environment:
#      - POSTGRES_USER=admin
#      - POSTGRES_PASSWORD=admin
#      - POSTGRES_DB=store-auth-db
#    ports:
#      - "5433:5432"
#    restart: on-failure:3
#    networks:
#      si:
#
#  main-db:
#    container_name: webstore-db
#    image: postgres:latest
#    environment:
#      - POSTGRES_USER=postgres
#      - POSTGRES_PASSWORD=RadoPostgresql
#      - POSTGRES_DB=webstore-main-db
#    ports:
#      - "5434:5432"
#    restart: on-failure:3
#    networks:
#      si:
